@font-face {
  font-family: gotham;
  src: url("./fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: gothamBold;
  src: url("./fonts/Gotham-Ultra.otf");
}

@font-face {
  font-family: gothamLight;
  src: url("./fonts/Gotham-Light.otf");
}

html, body {
  font-family: gotham;
  font-weight: normal;
  background-color: #e7ecee;
  overflow-x: hidden;
}

nav {
  width: 100%;
  background: #007fe6;
  background: linear-gradient(99deg, #007fe6 0%, #0066cc 100%);
  color: #e7ecee;
  position: fixed;
  z-index: 1000;
}

@media screen and (max-width: 1279px) {
  nav {
    display: none;
  }
}

nav .nav-flex {
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

nav li {
  display: inline;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}

nav li:hover {
  color: #FFB669;
}

nav img {
  width: 195px;
  height: 37px;
  cursor: pointer;
}

nav .graph-button {
  background: #007FE6;
  background: -webkit-gradient(linear, left top, left bottom, from(#007FE6), to(#0066CC));
  background: linear-gradient(180deg, #007FE6 0%, #0066CC 100%);
  border-radius: 24px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
}

nav .graph-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#77B8ED), to(#0066CC));
  background: linear-gradient(180deg, #77B8ED 0%, #0066CC 100%);
}

nav .pcs-button {
  color: #153E5C;
  background: #fab309;
  background: -webkit-gradient(linear, left top, left bottom, from(#fab309), to(#D99B06));
  background: linear-gradient(180deg, #fab309 0%, #D99B06 100%);
  border-radius: 24px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px;
}

nav .pcs-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2C558), to(#D99B06));
  background: linear-gradient(180deg, #F2C558 0%, #D99B06 100%);
}

nav .text-menu::after {
  position: absolute;
  top: 22px;
  width: 0%;
  left: 70%;
  height: 3px;
  content: '';
  background-color: #ffb669;
  display: block;
  -webkit-transition: left 0.15s ease-in, width 0.15s ease-in;
  transition: left 0.15s ease-in, width 0.15s ease-in;
  border-radius: 2px;
}

nav .text-menu:hover::after {
  width: 65%;
  left: 37%;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 1279px) {
  .mobile-nav {
    width: 100%;
    display: block;
    position: fixed;
    background: linear-gradient(99deg, #007fe6 0%, #0066cc 100%);
    z-index: 1000;
  }
}

.mobile-nav #hamburger {
  margin-left: 80px;
}

.mobile-nav .mobile-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 80px;
}

.mobile-nav .mobile-nav-open {
  position: fixed;
  height: 100vh;
  width: 300px;
  right: 0;
  top: 0;
  background-color: #fab309;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.mobile-nav .mobile-nav-open img {
  position: absolute;
  top: 80px;
  right: 40px;
}

.mobile-nav .mobile-nav-open ul {
  position: relative;
  font-family: gothamBold;
  font-size: 1.5em;
  color: #153E5C;
  list-style: none;
  top: 16%;
  margin-left: -18px;
}

.mobile-nav .mobile-nav-open li {
  padding: 20px;
  width: 77%;
  border-bottom: solid 1px #E7ECEE;
  cursor: pointer;
}

.mobile-nav .mobile-nav-close {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.header {
  background-image: url("./images/logobg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 150%;
  background-color: #007FE6;
  height: 1050px;
  max-height: 1014px;
}

@media screen and (max-width: 1450px) {
  .header {
    height: 760px;
  }
}

@media screen and (max-width: 920px) {
  .header {
    height: auto;
    padding: 300px 0 70px 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 110px;
    background-size: 300%;
  }
}

.header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
}

@media screen and (max-width: 1450px) {
  .header .header-flex {
    padding-top: 8vh;
    gap: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .header .header-flex {
    gap: 40px;
  }
}

@media screen and (max-width: 920px) {
  .header .header-flex {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

.header #logo {
  width: 38%;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 550px;
}

@media screen and (max-width: 1200px) {
  .header #logo {
    min-width: 400px;
  }
}

@media screen and (max-width: 920px) {
  .header #logo {
    display: none;
  }
}

.header h1 {
  font-size: 6.25em;
  font-family: gothamBold;
  color: #e7ecee;
  margin-bottom: 50px;
}

@media screen and (max-width: 920px) {
  .header h1 {
    font-size: 3em;
    line-height: 40px;
    margin-left: 20%;
  }
}

.header h1 img {
  width: 72px;
  padding: 0 7px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 920px) {
  .header h1 img {
    width: 40px;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.header p {
  font-size: 1.3125em;
  color: #e7ecee;
  width: 450px;
}

@media screen and (max-width: 1450px) {
  .header p {
    font-size: 1em;
  }
}

@media screen and (max-width: 920px) {
  .header p {
    width: 85%;
    margin: auto;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .header p {
    width: 100%;
    font-size: 0.875em;
  }
}

.features {
  padding-top: 13vh;
  padding-bottom: 6vh;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .features {
    padding-top: 9vh;
  }
}

.features h2 {
  font-size: 2.25em;
  color: #007FE6;
  font-family: gothamLight;
}

@media screen and (max-width: 600px) {
  .features h2 {
    font-size: 1.5em;
  }
}

.features h1 {
  font-size: 3.75em;
  font-family: gothamBold;
  color: #007FE6;
  margin-top: -25px;
}

@media screen and (max-width: 600px) {
  .features h1 {
    font-size: 2.25em;
    margin-top: -18px;
  }
}

.features .features-line {
  display: block;
  height: 3px;
  width: 330px;
  background-color: #0066CC;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .features .features-line {
    width: 80%;
  }
}

.features .features-flex {
  padding-top: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
}

@media screen and (max-width: 1150px) {
  .features .features-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 600px) {
  .features .features-flex {
    padding-top: 40px;
  }
}

.features .features-box {
  width: 240px;
  padding: 0px 42px 0 42px;
  height: 488px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7ecee));
  background: linear-gradient(180deg, #ffffff 0%, #e7ecee 100%);
  border-radius: 51px;
}

@media screen and (max-width: 1150px) {
  .features .features-box {
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e7ecee));
    background: linear-gradient(90deg, #ffffff 0%, #e7ecee 100%);
    height: auto;
    width: 40%;
    padding: 0px 42px 0 80px;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .features .features-box {
    width: 80%;
    padding-left: 30px;
    padding-top: 35px;
    border-radius: 21px;
  }
}

.features .features-box h1 {
  font-size: 2.25em;
  color: #0066CC;
  font-family: gothamBold;
}

@media screen and (max-width: 600px) {
  .features .features-box h1 {
    font-size: 1.5em;
  }
}

.features .features-box h2 {
  font-size: 1.625em;
  color: #0066CC;
}

@media screen and (max-width: 600px) {
  .features .features-box h2 {
    font-size: 18px;
  }
}

.features .features-box p {
  font-size: 1.625em;
  color: #0066CC;
  font-family: gothamLight;
}

@media screen and (max-width: 600px) {
  .features .features-box p {
    font-size: 18px;
  }
}

.features .features-box img {
  display: absolute;
  -webkit-transform: translateY(-230px);
          transform: translateY(-230px);
  margin-bottom: -190px;
}

@media screen and (max-width: 1150px) {
  .features .features-box img {
    display: none;
  }
}

.features .features-box .mobile {
  display: none;
  display: absolute;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin-top: 60px;
  margin-left: -230px;
  width: 200px;
}

@media screen and (max-width: 1150px) {
  .features .features-box .mobile {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .features .features-box .mobile {
    width: 126px;
    margin-left: -140px;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.tokenomics {
  background: url("./images/tokenomicsbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  padding-top: 9vh;
  padding-bottom: 0vh;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .tokenomics {
    height: auto;
    padding-bottom: 12vh;
    padding-top: 6vh;
  }
}

.tokenomics h2 {
  font-size: 2.25em;
  color: #e7ecee;
  font-family: gothamLight;
}

@media screen and (max-width: 600px) {
  .tokenomics h2 {
    font-size: 1.5em;
  }
}

.tokenomics h1 {
  font-size: 3.75em;
  font-family: gothamBold;
  color: #e7ecee;
  margin-top: -25px;
}

@media screen and (max-width: 600px) {
  .tokenomics h1 {
    font-size: 2.25em;
    margin-top: -18px;
  }
}

.tokenomics .tokenomics-line {
  display: block;
  height: 3px;
  width: 330px;
  background-color: #fab309;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .tokenomics .tokenomics-line {
    width: 80%;
  }
}

.tokenomics .tokenomics-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2vh;
  margin-left: -180px;
}

@media screen and (max-width: 1150px) {
  .tokenomics .tokenomics-flex {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tokenomics .tokenomics-flex h2 {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 36px;
}

@media screen and (max-width: 600px) {
  .tokenomics .tokenomics-flex h2 {
    font-size: 1.5em;
    line-height: 15px;
  }
}

.tokenomics .tokenomics-flex span {
  font-size: 48px;
  font-family: gothamBold;
}

@media screen and (max-width: 600px) {
  .tokenomics .tokenomics-flex span {
    font-size: 32px;
  }
}

.tokenomics .tokenomics-flex #chart {
  -webkit-transform: translateX(220px);
          transform: translateX(220px);
}

@media screen and (max-width: 1450px) {
  .tokenomics .tokenomics-flex #chart {
    width: 800px;
  }
}

@media screen and (max-width: 1150px) {
  .tokenomics .tokenomics-flex #chart {
    width: 600px;
    margin-left: -300px;
  }
}

@media screen and (max-width: 750px) {
  .tokenomics .tokenomics-flex #chart {
    display: none;
  }
}

.tokenomics .tokenomics-flex #chart-mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .tokenomics .tokenomics-flex #chart-mobile {
    display: block;
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .tokenomics .tokenomics-flex #chart-mobile {
    width: 250px;
  }
}

.tokenomics .tokenomics-flex #chart2 {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 1450px) {
  .tokenomics .tokenomics-flex #chart2 {
    width: 471px;
  }
}

@media screen and (max-width: 1150px) {
  .tokenomics .tokenomics-flex #chart2 {
    width: 353px;
  }
}

@media screen and (max-width: 1150px) {
  .tokenomics .tokenomics-flex #chart2 {
    width: 310px;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .tokenomics .tokenomics-flex #chart2 {
    width: 258px;
  }
}

.roadmap {
  padding-top: 13vh;
  padding-bottom: 16vh;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .roadmap {
    padding-bottom: 5vh;
  }
}

@media screen and (max-width: 600px) {
  .roadmap {
    padding-top: 9vh;
    padding-bottom: 0vh;
  }
}

.roadmap h2 {
  font-size: 2.25em;
  color: #007FE6;
  font-family: gothamLight;
}

@media screen and (max-width: 600px) {
  .roadmap h2 {
    font-size: 1.5em;
  }
}

.roadmap h1 {
  font-size: 3.75em;
  font-family: gothamBold;
  color: #007FE6;
  margin-top: -25px;
}

@media screen and (max-width: 600px) {
  .roadmap h1 {
    font-size: 2.25em;
    margin-top: -18px;
  }
}

.roadmap .roadmap-line {
  display: block;
  height: 3px;
  width: 330px;
  background-color: #0066CC;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-line {
    width: 80%;
  }
}

.roadmap .roadmap-flex {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.roadmap .roadmap-flex::after {
  content: "";
  display: block;
  position: absolute;
  width: 850px;
  height: 20px;
  background-color: #007FE6;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

@media screen and (max-width: 1279px) {
  .roadmap .roadmap-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
    padding-top: 70px;
  }
  .roadmap .roadmap-flex::after {
    display: none;
  }
}

.roadmap .roadmap-box {
  text-align: left;
  width: 350px;
  padding: 0px 1px 0 62px;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7ecee));
  background: linear-gradient(180deg, #ffffff 0%, #e7ecee 100%);
  border-radius: 51px;
}

.roadmap .roadmap-box::before {
  content: "";
  display: block;
  height: 75px;
  width: 75px;
  background-color: #007FE6;
  border-radius: 100%;
  margin-left: 110px;
  -webkit-transform: translateY(-110px);
          transform: translateY(-110px);
}

@media screen and (max-width: 1279px) {
  .roadmap .roadmap-box {
    height: 640px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  .roadmap .roadmap-box::before {
    -webkit-transform: translate(-230px, 35px);
            transform: translate(-230px, 35px);
  }
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-box {
    height: 430px;
    width: 280px;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  .roadmap .roadmap-box::before {
    height: 48px;
    width: 48px;
    -webkit-transform: translate(-190px, 27px);
            transform: translate(-190px, 27px);
  }
}

@media screen and (max-width: 400px) {
  .roadmap .roadmap-box {
    width: 240px;
  }
}

.roadmap .roadmap-box h1 {
  font-size: 3em;
  font-family: gothamBold;
  margin-bottom: 30px;
}

@media screen and (max-width: 1279px) {
  .roadmap .roadmap-box h1::before {
    content: "";
    display: block;
    height: 630px;
    width: 13px;
    background-color: #007FE6;
    position: absolute;
    -webkit-transform: translate(-90px, 10px);
            transform: translate(-90px, 10px);
  }
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-box h1 {
    font-size: 2.25em;
    margin-bottom: 15px;
  }
  .roadmap .roadmap-box h1::before {
    height: 450px;
    width: 10px;
    -webkit-transform: translate(-60px, 10px);
            transform: translate(-60px, 10px);
  }
}

.roadmap .roadmap-box .roadmap-no-line::before {
  display: none;
}

.roadmap .roadmap-box span {
  color: #fab309;
  font-family: gotham;
}

.roadmap .roadmap-detail {
  margin-left: 30px;
}

@media screen and (max-width: 1279px) {
  .roadmap .roadmap-detail {
    margin-left: 15px;
  }
}

.roadmap .roadmap-detail h2 {
  color: #0066CC;
  font-size: 2.125em;
  line-height: 38px;
  height: 114px;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-detail h2 {
    font-size: 1.3125em;
    height: 77px;
    line-height: 26px;
  }
}

.roadmap .roadmap-detail h3 {
  color: #007FE6;
  font-size: 1.5em;
  line-height: 15px;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-detail h3 {
    font-size: 15px;
    line-height: 10px;
  }
}

.roadmap .roadmap-detail ul {
  margin-top: 32px;
  list-style: none;
  font-family: gothamLight;
  font-size: 1.3125em;
  color: #0066CC;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-detail ul {
    font-size: 0.875em;
  }
}

.roadmap .roadmap-detail li {
  margin-bottom: 24px;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-detail li {
    margin-bottom: 10px;
  }
}

.roadmap .roadmap-detail::before {
  content: "";
  display: block;
  height: 195px;
  width: 10px;
  background-color: #fab309;
  position: absolute;
  margin-left: -30px;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .roadmap .roadmap-detail::before {
    height: 138px;
    margin-top: 2px;
  }
}

.contact {
  background-color: #153E5C;
  padding: 40px;
}

@media screen and (max-width: 1079px) {
  .contact {
    padding: 30px 80px;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 30px 30px;
  }
}

.contact .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

@media screen and (max-width: 1079px) {
  .contact .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
    height: auto;
  }
}

.contact .contact-flex h1 {
  font-family: gothamBold;
  font-size: 3em;
  color: #e7ecee;
  line-height: 20px;
}

@media screen and (max-width: 600px) {
  .contact .contact-flex h1 {
    font-size: 1.625em;
    line-height: 10px;
  }
}

.contact .contact-flex a {
  color: #e7ecee;
  text-decoration: none;
}

.contact .contact-flex a:hover {
  color: #fab309;
}

@media screen and (max-width: 600px) {
  .contact .contact-flex a {
    font-size: 1em;
    line-height: 10px;
  }
}

.contact .contact-flex img {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  margin-right: 15px;
  width: 33px;
}
/*# sourceMappingURL=App.css.map */